*.user
*.aeproperties
.vs/
*.tmp
*.Generated.cs
*.Generated.Event.cs
*.generatedpreview.png
TiledObjects.Generated.xml
*.cachefile
*.csvSettings
*.sln.metaproj
packages/
NewGum/NewGum/bin/
NewGum/bin/
NewGum/NewGum/obj/
NewGum/obj/
NewGum/NewGumContent/obj/
!NewGum/x64
!NewGum/x86
